<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
      <httpHandlers>
        <add verb="*" path="sitemap.xml" type="Newtonsoft.Sitemaps.SitemapHandler, Newtonsoft.Sitemaps"/>
        <add verb="*" path="sitemap.axd" type="Newtonsoft.Sitemaps.SitemapHandler, Newtonsoft.Sitemaps"/>
      </httpHandlers>
    </system.web>
</configuration>
