<?xml version="1.0" encoding="utf-8" ?>
<micajah.common>
  <settings>
    <webApplicationSettings name="Micajah BackOffice" logoImageUrl="" defaultColorScheme="White" enableMultipleInstances="true">
      <copyright companyName="Micajah IT Services Inc." companyLogoImageUrl="" companyWebsiteUrl="http://www.micajah.com" startYear="" />
    </webApplicationSettings>
    <passwordSettings passwordFormat="MD5" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="5" enablePasswordRetrieval="true" />
    <loginSettings displayRememberMe="true" />
    <emailSettings enableChangeLoginNameNotification="true" enableChangePasswordNotification="true" enableAddUserToOrganizationNotification="true" enableCreateNewUserNotification="true" />
    <masterPageSettings visibleMainMenu="true" submenuPosition="Left" theme="Standard" themeColor="Gray">
      <header visible="true" visibleLinks="true" visibleSearch="true" visibleLogo="true" />
      <breadcrumbs visible="true">
        <centerHtml><![CDATA[]]></centerHtml>
        <rightHtml><![CDATA[]]></rightHtml>
      </breadcrumbs>
      <helpLink visible="false" urlFormat="http://klebb.kc.micajah.com/bigwebapps_kb_beta/?i=fb28675e444240c6b63d67e8595d14e4&amp;popup=true&amp;a={0}">
        <window type="popup" width="566" height="634" />
      </helpLink>
      <leftArea visible="true" width="175px" >
        <html><![CDATA[]]></html>
      </leftArea>
      <detailMenu menuIconSize="Normal" theme="Standard" />
      <footer visible="true" visibleLinks="true" visibleApplicationLogo="true" >
        <leftTopHtml><![CDATA[]]></leftTopHtml>
        <leftBottomHtml><![CDATA[]]></leftBottomHtml>
        <rightTopHtml><![CDATA[]]></rightTopHtml>
        <rightBottomHtml><![CDATA[]]></rightBottomHtml>
      </footer>
    </masterPageSettings>
  </settings>
</micajah.common>
